In [1]:
import pandas as pd 
import numpy as np
import os 
# import find_file_names
from grouping_functions import *

In [2]:
directory_of_files = 'CSVs/'
files = [file for file in os.listdir(directory_of_files) if file.endswith('.csv')]
files

['meme_sites.csv',
 'bioprospector_sites.csv',
 'mdscan_sites.csv',
 'streme_sites.csv',
 'motifSampler_sites.csv']

In [3]:
# Make Dataframes with the same names as the folders
files = [file for file in files if file != 'streme_sites.csv']

dfs_list = []
for file in files:
    df = pd.read_csv(os.path.join(directory_of_files, file), index_col=0)
    df = assign_score_group(df, 'Score', 5)
    vars()[file.split('.')[0]] = df
    dfs_list.append(vars()[file.split('.')[0]])

In [5]:
def assign_subgroup(df_list, file_name_col, seq_id_col, score_group_col):
    new_df_list = []

    for df in df_list:
        df['Subgroup'] = df[file_name_col].astype(str) + "_" + df[score_group_col].astype(str) + "_" + df['Sequence_ID'].astype(str)
        new_df_list.append(df)
    return new_df_list

In [22]:
id_df_list = assign_subgroup(dfs_list, 'File_name','Sequence_ID','Score_group')

In [24]:
id_df_list[0].head()

,Sequence_ID,Site,Starting_position,Score,Width,File_name,Score_group,Subgroup
0,1030995-1031010-reverse,AAGATAAGGG,377,2600000.0,10,FIS,5,FIS_5_1030995-1031010-reverse
1,1297670-1297685-reverse,TTTATTAACT,253,2600000.0,10,FIS,5,FIS_5_1297670-1297685-reverse
2,1297670-1297685-reverse,TTTATTAACT,253,2600000.0,10,FIS,5,FIS_5_1297670-1297685-reverse
3,1297670-1297685-reverse,TTTATTAACT,253,2600000.0,10,FIS,5,FIS_5_1297670-1297685-reverse
4,1297670-1297685-reverse,TTTATTAACT,253,2600000.0,10,FIS,5,FIS_5_1297670-1297685-reverse